.card,
.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 5px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  position: relative;
}

.card__bookmark {
  position: absolute;
  top: -7px;
  right: 15px;
  background-image: url(/resources/images/bookmark-outline.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.card__bookmark--marked {
  position: absolute;
  top: -7px;
  right: 15px;
  background-image: url(/resources/images/bookmark.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.card__question {
  margin-top: 10px;
  color: #426696;
}

.card__button {
  margin-top: 20px;
  background-color: white;
  color: #658ec6;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.card__answer {
  color: #658ec6;
}
