.footer__nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  z-index: 2;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 50, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 50.75);
}

.footer__link {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  transition: 0.5s;
}

.footer__link:hover {
  background-color: white;
}

.active {
  background-color: white;
}
