.main {
  padding: 120px 20px 80px 20px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right top, #65dfc9 0%, #6cdbeb 100%);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.main.main--hidden {
  display: none;
}
