.tags {
  list-style-type: none;
  align-self: center;
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}

.tags__item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  color: #658ec6;
  border-radius: 10px;
  font-size: 0.6rem;
  margin-right: 5px;
}
